.avatar-container {
        margin-left: auto;
        margin-right: auto;
        align-items: center;
        width: 25%;
}

.avatar{
    width: 300px;
    height: 300px;
}

.labels{
    width: 200px;
    height: 40px;
    font-size: 25px;
}
.labelContainer{
        margin-left: auto;
        margin-right: auto;
        width: 25%;
        text-align: center;
        padding: 50px;
        font-size: 50px;
        font-weight: bolder;
}

.infoContainer{
    padding: 50px
}

.values{
    font-weight: bold;
    width: 200px;
}

.row{
    width: 100%;
    margin: 10px;
}

.row:hover{
    background-color: gray;
    color: whitesmoke;
    padding: 10px;
}

.container1 {
    float:left;
    width:100%;
    overflow: unset;
    position:relative;
}
.container{
  float:left;
  width:100%;
  background: white;
  position:relative;
  display: block;
}
.sidebar {
    float:left;
    width:15%;
    color: gray;
    position: relative;
}
.content {
    float:left;
    width:85%;
    overflow:hidden;
}
