.container{
  display: block;
}

.header{
    display: flex;
    background-color: white;
    border-bottom-style: groove;
    border-bottom-color: lightgray;
    align-items: center;

}

.sideBar{
  background-color: yellow;
}

ul{
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: white;
    position: sticky;
    top: 0;
}

.logo img{
    width: 40px;
    height: 40px;
    margin-right: 10px;
}

.logo{
    display: flex;
    align-items: center;
    margin-left: auto;
    margin-right: auto;
}

.nav{
    width: 50%;
    align-items: center;
}

li {
    float: left;
    display: block;
    color: black;
    text-align: center;
    padding:18px;
    text-decoration: none;
    font-weight: bold;
    margin-left: 10%;
}



li:hover {
    background-color: lightgray;
    color: white;
}

.active {
    background-color: lightseagreen ;
    color: white;
}
