.list {
	list-style: none;
	padding: 0;
	margin: 0;
	display: grid;
	border-bottom-style: 2px solid lightgray;

}

.list li {
	position: relative;
	padding: 10px;
	text-align: center;
	margin: 0;

}

.wrapper{
	display: grid;
	overflow-x: hidden;
	border: solid 2px lightgray;
	border-top-style: none;
	height: -webkit-fill-available;

}

li:hover {
		background-color: lightgray;

}

button{
	height: 40px;
	width: 50%;
	position: relative;
	margin-top: 20px;
}

.loadContainer{
	position: relative;
	text-align: center;
    padding-bottom: 100px;

}