.container1 {
    float:left;
    width:100%;
    overflow: unset;
    position:relative;
}
.container{
  float:left;
  width:100%;
  background: white;
  position:relative;
  display: block;
}
.sidebar {
    float:left;
    width:15%;
    color: gray;
    position: relative;
}
.content {
    float:left;
    width:100%;
    overflow:hidden;
}
